<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    /* 在这里添加任何你需要的CSS样式 */
  </style>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= content %></p>
  <!-- 可以根据传入的数据对象添加更多HTML -->
</body>
</html>